//! **************************************************************************
// Written by: Map P.20131013 on Thu Jul 14 19:08:53 2016
//! **************************************************************************

SCHEMATIC START;
NET
        "mcs_0/U0/microblaze_I/MicroBlaze_Core_I/Area.Data_Flow_I/PC_Module_I/Using_FPGA.pc_write_I"
        USELOWSKEWLINES;
COMP "OBClk" LOCATE = SITE "E3" LEVEL 1;
COMP "usb_in" LOCATE = SITE "C4" LEVEL 1;
COMP "usb_out" LOCATE = SITE "D4" LEVEL 1;
SCHEMATIC END;

