#############
## Xilinx
#############

#logs
*.xreport
ppm revamp/Xilinx Files/SimpleProject/simple_summary.html
*.projectmgr
ppm revamp/Xilinx Files/SimpleProject/simple_summary.html
*.schlog
*.projectmgr